NET "LED(0)" LOC = "86";
NET "LED(1)" LOC = "85";
NET "LED(2)" LOC = "81";
NET "LED(3)" LOC = "79";
NET "LED(4)" LOC = "77";
NET "LED(5)" LOC = "74";
NET "LED(6)" LOC = "72";
NET "LED(7)" LOC = "70";

NET "CLK16" LOC = "FB1_17"; # GCK1
NET "CLK16" PERIOD = 16 MHz;

NET "A(0)" LOC = "76";
NET "A(1)" LOC = "73";
NET "A(2)" LOC = "71";
NET "A(3)" LOC = "68";
NET "A(4)" LOC = "66";
NET "A(5)" LOC = "64";
NET "A(6)" LOC = "60";
NET "A(7)" LOC = "58";
NET "A(8)" LOC = "55";
NET "A(9)" LOC = "53";
NET "A(10)" LOC = "50";
NET "A(11)" LOC = "46";
NET "A(12)" LOC = "42";
NET "A(13)" LOC = "40";
NET "A(14)" LOC = "37";
NET "A(15)" LOC = "35";

NET "B(14)" LOC = "59";
NET "B(15)" LOC = "61";
NET "B(16)" LOC = "63";
NET "B(17)" LOC = "65";
NET "B(18)" LOC = "67";

NET "D(0)" LOC = "36";
NET "D(1)" LOC = "39";
NET "D(2)" LOC = "41";
NET "D(3)" LOC = "43";
NET "D(4)" LOC = "49";
NET "D(5)" LOC = "52";
NET "D(6)" LOC = "54";
NET "D(7)" LOC = "56";

NET "CLK4" BUFG = CLK;
NET "CLK4" LOC = "FB3_2"; # GCK2
NET "CLK4" PERIOD = 4 MHz;

NET "INT_N" LOC = "33";
NET "NMI_N" LOC = "34";
NET "HALT_N" LOC = "30";
NET "MREQ_N" LOC = "32";
NET "IORQ_N" LOC = "28";

NET "RFSH_N" LOC = "29";
NET "M1_N" LOC = "25";
NET "RESET_OUT_N" LOC = "24";
NET "BUSRQ_N" LOC = "19";
NET "WAIT_N" LOC = "20";
NET "BUSACK_N" LOC = "17";
NET "WR_N" LOC = "18";
NET "RD_N" LOC = "15";

NET "FTDI_TXE_N" LOC = "16";
NET "FTDI_RXF_N" LOC = "14";
NET "FTDI_WR_N" LOC = "13";
NET "FTDI_RD_N" LOC = "12";

NET "RAM_WE_N" LOC = "11";
NET "RAM_OE_N" LOC = "10";
NET "RAM_CE_N" LOC = "9";

NET "RESET_IN_N" LOC = "8";

NET "ROM_WE_N" LOC = "78";
NET "ROM_OE_N" LOC = "80";
NET "ROM_CE_N" LOC = "82";

NET "BELL" LOC = "7";

NET "SCR_RS" LOC = "96";
NET "SCR_RW" LOC = "94";
NET "SCR_E_N" LOC = "92";

NET "SD_CD" LOC = "93";
NET "SD_CS_N" LOC = "91";
NET "SD_DI" LOC = "89";
NET "SD_DO" LOC = "87";
NET "SD_CLK" LOC = "90";

NET "RTC_WE_N" LOC = "6";
NET "RTC_OE_N" LOC = "97";
NET "RTC_CE_N" LOC = "95";

NET "ROM_BOOT_N" LOC = "3";  # GTS2
